<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deployment to Steam</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>true</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs>^DoubleAction-(windows|linux|macosx)$</blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>5</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.2">
      <projectUrl>https://github.com/BSVino/DoubleAction/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>git_ref</name>
          <description>Git branch or tag to build</description>
          <defaultValue>refs/remotes/origin/develop</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/BSVino/DoubleAction.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${git_ref}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>linux</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39.1">
      <project>DoubleAction-linux</project>
      <filter>**/*.so</filter>
      <target>mp/game/dab/bin</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39.1">
      <project>DoubleAction-windows</project>
      <filter>**/*.dll</filter>
      <target>mp/game/dab/bin</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39.1">
      <project>DoubleAction-macosx</project>
      <filter>**/*.dylib</filter>
      <target>mp/game/dab/bin</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -ex

# Make sure LFS is all checked out
git lfs fetch
git lfs checkout

# Variables to replaces in the template
app_id=317360
depot_id=317364
content_root=mp/game
branch_name=&quot;$(basename &quot;$GIT_BRANCH&quot;)&quot;
description=&quot;Test build TomyLobo ($branch_name)&quot;

# VDF filenames
app_vdf=app.vdf
depot_vdf=depot.vdf

# User to use to upload
steam_user=dabuild

# Sanity-check 
if [ -z &quot;$branch_name&quot; ]; then
	echo &gt;&amp;2 &apos;No branch given&apos;
	exit 1
fi

# Create vdf files from templates
for vdf in &quot;$app_vdf&quot; &quot;$depot_vdf&quot;; do
    vdf_template=deployment/&quot;$vdf&quot;.template
    sed &quot;
        s#@@@APP_ID@@@#$app_id#
        s#@@@DEPOT_ID@@@#$depot_id#
        s#@@@CONTENT_ROOT@@@#$content_root#
        s#@@@DESCRIPTION@@@#$description#
        s#@@@BRANCH_NAME@@@#$branch_name#
    &quot; &quot;$vdf_template&quot; &gt; &quot;$vdf&quot;

    # Sanity-check for missing template markers
    if grep -qFe &apos;@@@&apos; &quot;$vdf&quot;; then
        echo &gt;&amp;2 &quot;Error: @@@ found in final file &apos;$vdf&apos; - aborting!&quot;
        exit 1
    fi
done

~/steamcmd/steamcmd.sh &quot;+login $steam_user&quot; &quot;+run_app_build $PWD/$app_vdf&quot; &apos;+quit&apos;

set +x

echo &quot;----- Depot build log -----&quot;
cat logfiles/depot_build_&quot;$depot_id&quot;.log
echo &quot;---------------------------&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>reference_repo=/var/lib/jenkins/da_cache/reference_repos/DoubleAction.git

if [ ! -f .git ]; then

	rm -rf &quot;$WORKSPACE&quot;/.git

	cd &quot;$reference_repo&quot;
	git worktree prune
	#git worktree add -f &quot;$WORKSPACE&quot; &quot;$GIT_BRANCH&quot;
	git worktree add -f &quot;$WORKSPACE&quot; origin/develop
fi

git lfs install
</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <failOnError>true</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>